<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{title.entry}">タイトル</title>
</head>
<body>
	<form th:action="@{/calc}" method="post" th:object="${calcForm}">
		<div>
			<input type="text" th:field="*{leftNum}"> + <input
				type="text" th:field="*{rightNum}">
		</div>
		<!-- 208Pで追加 -->
		<button type="submit" th:text="#{button.send}"></button>

		<input type="submit" value="計算">
		<!-- エラーを表示 -->
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form>

</body>
</html>